
:root{

    
}
body {
    font-family: 'Roboto';
    background: #A770EF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
    /*display:flex;*/
    justify-content:center;
    align-items:center;
}

h1{
    text-align:center;
    font-weight:700;

}

form {
    background: #fff;
    padding: 30px 0;
    box-shadow: 0  0  4px 0  rgba(255 ,255, 255, 0.8);
    border-radius:8px;
}

.form{
   width: 100px;
   margin:auto;
}

form .grupo{
    position: relative;
    margin:45px;
}
/*input{
    background: none;
    color: #c6c6c6;
     font-size:18px;
     padding:10px 10px 10px 5px;
     display:block;
}*/
