<h1>Confirmar Correo Electronico.</h1>
<div>
    <p>
       Gracias por confirmar su correo electrónico. Gracias <a asp-controller="Account" asp-action="Login">Haga clic aquí para ingresar</a>.
    </p>
</div>
