<font face="Comic Sans MS,Arial,Verdana" size="6" color="black">
    <h1>Confirmación de contraseña olvidada</h1>
    <p>
        Por favor revise su correo electronico para restablecer su contraseña.
    </p>
</font>
