<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrusel 3D</title>
    <link rel="stylesheet" href="/css/estilos.css" />
</head>
<body>
    <h2>ALGUNOS PRODUCTOS EN VENTA</h2>
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="~/image/doritos.jpg" /></figure>
            <figure><img src="~/image/unno.jpeg" /></figure>
            <figure><img src="~/image/jugos.jpg" /></figure>
            <figure><img src="~/image/marinela.jpg" /></figure>
            <figure><img src="~/image/refrescos.jpg" /></figure>
            <figure><img src="~/image/limpieza.jpg" /></figure>
            <figure><img src="~/image/cervezas.jpg" /></figure>
            <figure><img src="~/image/sopas.jpg" /></figure>
            <figure><img src="~/image/yogurt.jpg" /></figure>
            <figure><img src="~/image/lacteos.jpg" /></figure>
        </div>
    </div>
</body>
</html>
