@page
@model AccessDeniedModel
    <font face="Comic Sans MS,Arial,Verdana" size="6" color="black">
        @{ ViewData["Title"] = "Acceso denegado"; }

        <header>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">No tienes acceso a este recurso.</p>
        </header>
    </font>
