@page
@model ForgotPasswordConfirmation
<font face="Comic Sans MS,Arial,Verdana" size="4" color="black">
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revise su correo electronico para restablecer su contraseña
</p>
    </font>

